<mat-card class="col-xl-9 col-sm-11 mx-4 my-4" cdkScrollable>

    <div>
        <span class="ml-2">{{'task.list' | translate}}</span>
        <button *ngIf="!editMode" mat-button color="primary" class="float-right" (click)="edit()">
            <mat-icon inline="true">edit</mat-icon>
            {{'edit' | translate}}
        </button>
        <button *ngIf="editMode" mat-button color="primary" class="float-right" (click)="cancel()">
            <mat-icon inline="true">cancel</mat-icon>
            {{'cancel' | translate}}
        </button>
        <button *ngIf="editMode" mat-button color="primary" class="float-right" (click)="save()">
            <mat-icon inline="true">save</mat-icon>
            {{'save' | translate}}
        </button>
    </div>

    <mat-card-content>


    </mat-card-content>

</mat-card>

