@import "~src/styles";

.label {
  width: 25%;
}

.gray-color {
  color: $icon-color;
}

.stat-num {
  font-size: x-large;
}

.done {
  color: green;
}

.unassigned {
  color: darkred;
}

.assigned {
  color: $primary;
}
