<mat-toolbar class="d-flex justify-content-between">
    <span>{{'order.add' | translate}}</span>

    <div class="">
        <button *ngIf="!editMode" mat-raised-button color="primary" (click)="edit()">
            <mat-icon inline="true">edit</mat-icon>
            {{'edit' | translate}}
        </button>
        <button *ngIf="editMode" mat-raised-button class="mr-2" color="primary" (click)="save()">
            <mat-icon inline="true">save</mat-icon>
            {{'save' | translate}}
        </button>
        <button *ngIf="editMode" mat-raised-button color="primary" (click)="cancel()">
            <mat-icon inline="true">cancel</mat-icon>
            {{'cancel' | translate}}
        </button>
    </div>
</mat-toolbar>

<div class="row mx-2">

    <mat-card class="col-xl-4 col-sm-11 mx-4 my-4">
        <span class="ml-2">{{'order.details' | translate}}</span>
        <mat-card-content class="row ml-2 my-4">
            <form [formGroup]="form">
                <div class="col-4">
                    <div>
                        <mat-form-field>
                            <mat-label>{{'order.needyName' | translate}}</mat-label>
                            <input matInput formControlName="needyName" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{'order.address' | translate}}</mat-label>
                            <input matInput formControlName="address" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{'order.city' | translate}}</mat-label>
                            <input matInput formControlName="city" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{'order.phone' | translate}}</mat-label>
                            <input matInput formControlName="phone">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>{{'order.email' | translate}}</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <app-tasks class="ml-2 mr-4 col-xl-6 col-sm-12"></app-tasks>
</div>
