<mat-sidenav-container>
    <mat-sidenav mode="side" class="text-center" opened>
        <img id="logo" src="../../assets/img/logo.png" class="mt-4" alt="logo" routerLink="">
        <h3 class="mt-4 app-title">{{ 'app-name' | translate }}</h3>
        <hr style="height: 2px" class="mx-4 bg-sidebar-item">

        <mat-nav-list class="mx-4">
            <a mat-list-item routerLinkActive="active-item" class="color-sidebar-item rounded" routerLink="/home">
                <mat-icon class="mr-2 color-sidebar-item">home</mat-icon>
                {{'menu.home' | translate}}
            </a>
            <a mat-list-item routerLinkActive="active-item" class="color-sidebar-item rounded" routerLink="/orders">
                <mat-icon class="mr-2 color-sidebar-item">emoji_people</mat-icon>
                {{'menu.orders' | translate}}
            </a>
            <a mat-list-item routerLinkActive="active-item" class="color-sidebar-item rounded" routerLink="/team">
                <mat-icon class="mr-2 color-sidebar-item">group</mat-icon>
                {{'menu.team' | translate}}
            </a>
            <a mat-list-item routerLinkActive="active-item" class="color-sidebar-item rounded" routerLink="/settings">
                <mat-icon class="mr-2 color-sidebar-item">settings</mat-icon>
                {{'menu.settings' | translate}}
            </a>
            <a mat-list-item routerLinkActive="active-item" class="color-sidebar-item rounded" (click)="logout()">
                <mat-icon class="mr-2 color-sidebar-item">directions_run</mat-icon>
                {{'logout' | translate}}
            </a>
            <hr class="mt-5 bg-sidebar-item">
            <a mat-list-item class="color-sidebar-item rounded">
                <mat-icon class="mr-2 color-sidebar-item">help</mat-icon>
                {{'menu.help' | translate}}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
