@import "~src/styles";

$item-color: #FFFFFF;
//$active-color: #04355c;
$active-color: #1565c0;

#logo {
  width: 65%;
}

.app-title {
  font-weight: 200;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 18rem;
  background: $primary !important;
  color: $item-color !important;
}

.bg-sidebar-item {
  background: $item-color !important;
}

.color-sidebar-item {
  color: $item-color !important;
}

.active-item {
  background-color: $primaryDarker !important;
}
