<mat-card class="col-xl-9 col-sm-11 mx-4 my-4" cdkScrollable>

    <div>
        <span class="ml-2">{{'task.list' | translate}}</span>
        <button mat-button color="primary" class="float-right" (click)="addNew()">
            <mat-icon inline="true">add</mat-icon>
            {{'add' | translate}}
        </button>
    </div>

    <mat-card-content>

        <mat-list>
            <mat-list-item class="mt-2" *ngFor="let order of orders">

                <mat-icon matListIcon>emoji_people</mat-icon>
                <p matLine>{{order.needyName}}</p>
                <p matLine>{{order.address}}</p>

                <button mat-icon-button matTooltip="{{'view' | translate}}" class="float-right" (click)="drillDown(order)">
                    <mat-icon inline="true">description</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{'edit' | translate}}" class="float-right" (click)="edit(order)">
                    <mat-icon inline="true">edit</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{'delete' | translate}}" class="float-right" (click)="delete(orders.indexOf(order))">
                    <mat-icon inline="true">delete</mat-icon>
                </button>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>

</mat-card>

