@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

.app-name {
  margin-top: 4vh;
  margin-right: 3vw;
  font-weight: 200;
}

.slide {
  animation: slidingIn 1s 1 0s linear;
}

@keyframes slidingIn {
  0% {
    transform: translateY(-12vh);
    opacity: .1;
  }
  80% {
    opacity: 1;
    transform: translateY(-1vh);
  }
  100% {
    transform: translateY(0);
  }
}
