@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');
@import "~src/styles";

.app-name {
  margin-top: 4vh;
  margin-right: 3vw;
  font-weight: 300;
  color: $primaryDarker;
  letter-spacing: 0.1em;
}

.slide {
  animation: slidingIn 1s 1 0s linear;
}

@keyframes slidingIn {
  0% {
    transform: translateY(-12vh);
    opacity: .1;
  }

  80% {
    opacity: 1;
    transform: translateY(-1vh);
  }

  100% {
    transform: translateY(0);
  }
}

.rules {
  margin-top: 1vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.rulesFirst {
  margin-top: 3vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.rulesLast {
  margin-top: 1vh;
  margin-bottom: 8vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.ruleImg {
  width: auto;
  height: 7vh;
  object-fit: cover;
}

.rule {
  margin-top: 1vh;
}
